/* RESET */
body {
    margin:0;
    padding:0;
    background-color: hsl(0, 0%, 95%);
}

/* ========== CONTAINER ========== */
.container {
    display:grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 400px;
    justify-content: center;
    margin-top:150px;
}

/* items */
.item, .item2{
    padding:35px
}
h2 {
    color:white;
    font-family:'Lexend Deca', sans-serif;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
button {
    background-color:white;
    width:120px;
    margin-top:20px;
    padding:10px;
    border-radius:15px;
    border:none;
    cursor:pointer
}

/* First item */
.item:first-child {
    background-color: hsl(31, 77%, 52%);
}
.item:first-child button {
    color:hsl(31, 77%, 52%);
}
.item:first-child button:hover {
    background-color: rgba(218, 209, 209, .01);
    border:1px solid white;
    color:white
}

/* second item */
.item2 {
    background-color:hsl(184, 100%, 22%)
}
.item2  button {
    color: hsl(184, 100%, 22%);
}
.item2 button:hover {
    background-color: rgba(218, 209, 209, .01);
    border:1px solid white;
    color:white
}
/* Last item */
.item:last-child {
    background-color: hsl(179, 100%, 13%)
}
.item:last-child button {
    color:hsl(179, 100%, 13%)
}
.item:last-child button:hover {
    background-color: rgba(218, 209, 209, .01);
    border:1px solid white;
    color:white
}
/* MEDIA 375px */
@media(max-width:414px) {
    .container {
        grid-template-columns: 80%;
        margin-top:50px;
    }
}